/* Using a class “card” (class)- “.”
“Id”-“#”*/
/* Insert comments: command—“/“ */

:root {
	--color-neutral-light: #def2f9;
	--color-neutral-medium: #40a3c4;
	--color-neutral-dark: #0f4557;

	--color-main-light: #def2f9;
	--color-main-medium: #40a3c4 ;
	--color-main-dark: #0f4557 ;

	--color-blue: #A9E8FA;

	--color-white: #fff;
	--color-black: #111;

	--header-height: 3rem;

	/* --color-neutral-light: #def2f9 is the light blue */
	/* --color-neutral-medium: #40a3c4 is the medium blue */ 
	/* --color-neutral-dark: #0f4557 is the super dark blue */
	/* --color-blue: #A9E8FA is the baby blue */

/* Font Family default, just in case they can't find the preferred fonts I chose */
/* Font Family for the body text is "Arial" */

	--font-sans: Arial, sans-serif;
	--font-serif: Cambra, Georgia, serif;

	--header-height: 3rem;
}

* {
	box-sizing: border-box;
} 


html, body {
	background: lightblue;
	/* default 16px font size 16px = 1em / 1rem */ 
	font-family: var(--font-sans);
}

/* CORE ELEMENTS */
a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

/* Preferred font families that I incorporated in my pdf document to show Hamilton what font I want to use */

/* Font for the "h1" is "Open Sans" */
h1 {
	font-family: 'Open Sans', sans-serif;
}

/* Fonts for the "h2" is "Lato" */
 h2 {
 	font-family: 'Lato', sans-serif;
 }




/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; padding: 20px; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }

.overscroll { overflow: auto; }
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }

.overscroll {
	height: 100%;
	width: 100%;
	overflow: auto;
	padding-bottom: 48px;

}

.fill-parent {
	width: 100%;
	height: 100%;
}

.centered { text-align: center; }
.small { font-size: 0.8em; }


/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
   overflow: hidden;
}
[data-role="footer"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: fixed;
   width: 100%;
   overflow: hidden;
   /*changed position: relative; to fixed*/
   bottom: 0;
}
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: #F0A3C1;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: fixed; 
   bottom: 0;
   width: 100%;
   overflow: hidden;
   position: relative;
   bottom: 0;

}


[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}
[data-role="header"] a {
   padding: 0 1em;
}

.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}



/* FORM ELEMENTS */
.form {}
.form-control {
   /*padding: 1rem;*/
}

.signin-form {
	width: 80%;
	margin: auto;
}

/* Sign in forms & buttons */
.signin-form .form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 50px;
    /* changed border-radius: 0.3em; to border-radius: 50px;*/
    outline: 0;
    font: inherit;
    box-sizing: border-box;
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    outline: 0;
    background-color: transparent;
    font: inherit;
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}

/* Form buttons for adding/editing animals */
/* Form buttons for edding user profile */
.form-form-button,
.form-button {
    width: 80%;
    display: block;
    /* changed display: inline-block; to display: block; (10/26/21) */
    border: none;
    background-color: var(--color-main-light); 
    margin: auto;
    /* margin: 5px 2; to margin: auto; (10/26/21) */
    /* 5px top & bottom, the 0 is left & right */
    padding: 0.5em 1em;
    border-radius: 50px;
    outline: 0;
    justify-content: center;
    /*border-radius: 0.3em;*/
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
     margin-top: 15px;

}
.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-neutral-medium);
	margin: 1rem 0 0;
}

/*responsible for changing the footer color*/
footer ul { 
	background: #F0A3C1;
}

/*.ui*/

/*https://www.w3schools.com/tags/tag_map.asp*/
/*should I change "position:fixed;"" to "position:absolute;" ?*/
.map {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	/**/
}

/* Map for animal profile */
.animal-profile-map {
	background-size: 150% auto !important;
	background-position: center 20%

}



/*Floater*/
.floater { position: absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:3em; }


/* Circle button*/
.btn-circle {
	background-color: var(--color-white);
	width: 3rem;
	height: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2.4rem;
	border-radius: 2em;
	box-shadow: 2px 5px rgba(0,0,0,0.15);
	display: inline-block;
}

/*MODAL*/
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; 
	opacity: 0;
	transition: all 0.3s;
}
.modal.active {
	pointer-events: initial;
	opacity: 1;
}
.modal-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);

}
/*Modal Popup*/
.modal-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,calc(-50% + 3em));
	border-radius: 5px;
	width: 80vmin;
	overflow: hidden;
	transition: all 0.3s;

}
.modal-body {
	padding: 10px;
	background-color: var(--color-white);
}

.modal-head, 
.modal-foot {
	background-color: var(--color-neutral-light);
	line-height: 2rem;
	padding: 0 1em;
}

/* Modal-Foot for add animal "save button" in list page*/
.modal-foot {
	background-color: var(--color-white);
	line-height: 2rem;

	
}

.modal.active .modal-popup {
	transform: translate(-50%,-50%);
}

/*Modal Drawer*/
.modal-drawer {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
	height: 100%;
	width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
	height: 40vh;
	width: 100%;
}

.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
	transform: translate(0);
}

.modal-drawer .modal-body {
	flex: 1 1 100%;
	background: white;
}

.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
}

.nav-icon {
	display: block;
	line-height: 2rem;
	font-size: 1.5rem;
}

.nav-icon-title {
	display: block;
}

.nav-icon .icon {
   vertical-align: middle;
}
.nav-icon-label {
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
}
.nav-icon-set li.active {
   background-color: var(--color-main-light);
}

/*map pins: https://codepen.io/katia-trifonova/pen/zwZgdx*/


.tracker {
	border-radius: 1rem;
	border-bottom-left-radius: 0; 
	position: fixed;
	background-color: #ffb3b3;

	padding: .5rem;
}

.tracker-1 {
	top: 15%;
	left: 10%;
}

.tracker-2 {
	top: 60%;
	left: 60%;
}

/* ANIMAL LIST */
.animallist {
   list-style-type: none;
   margin: 0;
   padding: 1em;
}
.animallist-item~.animallist-item {
   margin-top: 1em;
}
.animallist-item a {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
}
.animallist-item-description {
}
.animallist-item-name {
   font-size: 1.5em;
}
.animallist-item-type,
.animallist-item-breed {
   font-size: 0.9em;
}
/* Added padding to the animal list items */
.animal-list {
	padding: 1em;
}

/* ANIMAL PROFILE */
.animal-profile-top {
   flex: none;
   height: 40vh;
   position: relative;
}
/* Edit animal profile page & Edit user profile page */
.animal-profile-bottom, #page-user-edit-form {
   flex: 1 1 auto;
   position: relative;
   list-style: none;
}

.animal-edit-form,
.user-profile-edit-form {
	width: 80%;
	margin: auto;
}

/* Sign in forms & buttons */
.animal-edit-form .form-input,
.user-profile-edit-form .form-input {
    width: 100%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 50px;*/
    /* changed border-radius: 0.3em; to border-radius: 50px;*/
    outline: 0;
    font: inherit;
    box-sizing: border-box;
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    outline: 0;
    background-color: transparent;
    font: inherit;
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}

.edit-animal-input-form {
	width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 50px;
    /* changed border-radius: 0.3em; to border-radius: 50px;*/
    outline: 0;
    font: inherit;
    box-sizing: border-box;
}


.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}

.js-logout {
	margin-left: 4em;
	margin-right: 6em;
	padding: 

}

/* User Profile */
#page-user-profile {

}
/**/
#page-user-profile li {
	list-style-type:none;
	text-align: center;	
}

#static-user-profile-information {
	width: 50%;
	padding: 0;
	text-align: center;
}

.page {

}

#button {
	display:flex;
	justify-content:center;
}
/*User profile button*/
#button .profile-logout {
	width: 40%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-light); 
    margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 0.3em; */
    outline: 0;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}
#profile-list{
	display:flex;
	justify-content: center;
}
/*User placeholder i*/
.card {
	display: flex;
	justify-content: center;
}
/* profile container */
#contain-profile{
	position: absolute;
	top: 10%;
}

/*log out button*/
#test-logout {
	position:relative;
	bottom: 8%;
	border-radius: 50px;
}

/*animal profile picture*/
.animal-profile-top img {
	height: 100%;
	width: 100%;
	object-fit: cover;

}

/*back button*/
#back-button{
	background-color:var(--color-main-light);
	border:solid;
	border-color: var(--color-main-light);

}
#animal-profile-li {
	list-style-type:none;	
}

/* user profile image */
.user-profile-top img {
	height: 50%;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
/* logo */
.flex-col-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-logo {
	width: 60%;
}

.flex-control-center {
	text-align: center;
}

#login-page-spacer {
	flex: 0 0 10%;
	/* 1st "0" flex grow; 2nd "0" flex shrink, 10% is the flex basis*/
	/*default before the rest of the spaces distributed*/
}

/* Animal Edit Form */
.animal-profile-edit-form {
	width: 80%;
	/*centering*/
	margin: auto;


}

.animal-profile-edit-form > div {
	max-width: 100%;
}

::placeholder {      
	/*pseudo element*/
	/*change holder*/
	color: #000;
	opacity: 1;
}

/* Edit Animal button */
/*.page-animal-edit-button {

}*/

/*sign in button*/
.form-control.center-margin {
	/*margin: auto;*/
	text-align: center;
}

/*Edit User button*/
.page-user-edit-button {
	width: 40%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-light); 
    margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 0.3em;*/
    outline: 0;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/*Map-Adding animal*/
.floater-top-right {

}

/* Map-Choosing animal */
.page-location-choose-animal {

}

/* Log out button for user profile page */
.user-button button {
	width: 40%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-light); 
    margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 0.3em;*/
    outline: 0;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#page-animal-edit-button {
	/*width: 40%;*/
    display: block;
    border-width: 0;
    background-color: var(--color-main-light); 
    margin: auto;
    /*changed from margin: 0 to margin: auto */
    padding: 0.5em 1em;
    /*border-radius: 0.3em;*/
    outline: 0;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* Editing the data for the animal profiles */
/*.animal-profile-middle [data-changekey='animal-profile-description-name'] {

}

.animal-profile-middle [data-changekey='animal-profile-description-type'] {

}

.animal-profile-middle [data-changekey='animal-profile-description-breed'] {

}*/
.animal-profile-middle [data-changekey='animal-profile-description-*'] {
	padding: 1em; 
}

#page-user-edit-button {
	width: 40%;
    display: block;
    /* changed from display: in-line block to display: block*/
    border-width: 0;
    background-color: var(--color-main-medium); 
    margin: auto;
    /*changed from margin: 0 to margin: auto */
    padding: 0.5em 1em;
    /*border-radius: 0.3em;*/
    outline: 0;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#user-profile-logout-button {
	margin: auto;
	margin-bottom: 10px;
	display: block;
}

/* User profile logout button only inside of the id--descendent selector */
#user-profile-logout-button button {
	width: auto;
}

#user-profile-logout-modal {
	display: flex;
	padding-bottom: 48px;
	flex-direction: column;
	justify-content: flex-end;
	background-color: white;

}

.add-animal-button {
	 bottom: 5em !important;

}
#signin-form .form-control {
	margin-top: 15px; 
	margin-bottom: 15px;
}
#animal-profile-li {}

/* Animal Edit Forms p.1*/
.animal-edit-form {
	width: 80%;
	margin: auto;
}

/* Animal Edit Forms p.2*/
/*.animal-edit-form .form-input {*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*border: 1px solid var(--color-neutral-medium);*/
   /* margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 50px;*/
    /* changed border-radius: 0.3em; to border-radius: 50px;*/
    /*outline: 0;*/
   /*font: inherit;*/
    /*box-sizing: border-box;*/
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}

/* Animal Edit Forms p.3*/
#animal-edit-form .form-control {
	margin-top: 15px; 
	margin-bottom: 15px;
}

/* User profile Edit forms p.1 */
.form .profile-edit-form {
	width: 80%;
	margin: auto;
}

/* User profile Edit forms p.2 */
.form .profile-edit-form {
	width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    /*border-radius: 50px;*/
    /* changed border-radius: 0.3em; to border-radius: 50px;*/
    outline: 0;
    font: inherit;
    box-sizing: border-box;
    /*justify-content: center;*/
    /*text-align: center; */
    /*p/ayed with aligning sign in text: https://www.w3schools.com/css/css_align.asp*/
}

/* User profile Edit forms p.3 */
.form .profile-edit-form {
	margin-top: 15px; 
	margin-bottom: 15px;
}

.animal-profile-bottom, .user-profile-bottom {
	margin-top: 54px;
}