*{
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightblue;
 
}

nav {
    display: flex;
    width: 100%;
    padding: 0rem;
    height: 2rem;
    justify-content: space-between;
    background: #003d4d; 
    color: #ddd;
    align-items: center;
}

nav a{
    padding: .0rem 1rem;
    height: 100%;
    margin-left: 0rem;
    background: none;
    color: #b3f0ff;
    text-decoration: none;
    }

nav a:hover{
    color: #fff;
}

#banner{
    background: #888;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    min-height: 10rem;
    width: 100%;
}


h1 {
  color: black;
  text-align: 

}

.about-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}

.center {
    text-align: center;
}



/*:root {
    --header-height: 3em;

    --color-neutral: #440808; 
    --color-neutral-dark: #F08080; 
    --color-neutral-medium: #F08080;
    --color-neutral-light: #FAD1D1;

    --color-main-light:lightcoral;
    --color-main-medium:coral;
    --color-main-dark:salmon;

    --color-alt-light:brown;
    --color-alt-medium:indianred;
    --color-alt-dark:darkred;

    --color-black:#000;
    --color-white:#fff;

    --color-warning: #ffc21a;
    --color-error: #ff5833;
    --color-confirm: #1acb4a;
    
    --header-height:3rem;
    --spacing:1rem;

    --font-serif: Futura, "Freight Pro", Span, serif;;
    --font-sans: Open Sans, Arial, Soleil, sans-serif;;

}*/

img {
    float: left;
    margin-right: 10px;
}

