nav li:nth-child(2) a {
	background: blue;

}

nav a:hover {
	background: pink;
}

body {
	font-family: Helvetica, Arial, Times New Roman;
}

.main {
	display: flex;
	gap: 20px;
	flex-direction: row-reverse; 
}

.main aside {
	border: 0px solid purple; 
	background: purple;
}

. main article {
	float: none;
	order: 2;
}

h1 {

}

h2 {

}

h3 {

}

body {
	background: green;
}

nav {
	background: #00ffcc;
}

.header-container {
	background: #0066ff;
}

.header-container {
	border-bottom: 40px solid #ff1a1a;
}

.footer-container{
	border: 0px yellow;
	background: #00e673;

}


@media only screen and (max-width: 767px) {
	.main {
		flex-direction: column;
	}
}
